{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="search">
  <select id="category-filter">
    <option value="all">Все категории</option>
    <option value="new">Новинки</option>
    <option value="popular">Популярные</option>
    <option value="Beggar">Бюджетные</option>
  </select>
  <input type="text" id="name-filter" placeholder="Введите название товара">
</div>
<div class="container">
  <div class="katalog">
    <h2 class="title">Модели часов</h2>
    <div class="katalog__blocks">

      {% if clock %}
      {% for el in clock %}
      <div class="katalog__blocks__tovar" data-category="{{el.category}}" data-name="{{el.name}}">
        <img src="{{el.photo_url}}" alt="">
        <p>{{el.name}}</p>
        <section>{{el.price}} РУБ.</section>
        <a href="{% url 'post_detail' el.id %}"> <button>Показать подробности</button></a>
       
      </div>
      {% endfor %}
      {% else %}
      <div class="container">
        <p class="not_found_notes">Нет записей</p>
      </div>
      {% endif %}
  </div>
</div>  
<script>  
  document.getElementById('category-filter').addEventListener('change', function () {
    var selectedCategory = this.value;
    var product = document.querySelectorAll('.katalog__blocks__tovar');

    product.forEach(function (katalog__blocks__tovar) {
      if (selectedCategory === 'all' || katalog__blocks__tovar.getAttribute('data-category') === selectedCategory) {
        katalog__blocks__tovar.style.display = 'block';
      } else {
        katalog__blocks__tovar.style.display = 'none';
      }
    });
  });
</script>

<script>
  document.getElementById('category-filter').addEventListener('change', filterproduct);
  document.getElementById('name-filter').addEventListener('input', filterproduct);

  function filterproduct() {
    var selectedCategory = document.getElementById('category-filter').value;
    var nameFilter = document.getElementById('name-filter').value.toLowerCase();
    var product = document.querySelectorAll('.katalog__blocks__tovar');

    product.forEach(function (katalog__blocks__tovar) {
      var category = katalog__blocks__tovar.getAttribute('data-category');
      var name = katalog__blocks__tovar.getAttribute('data-name').toLowerCase();

      var categoryMatch = selectedCategory === 'all' || category === selectedCategory;
      var nameMatch = name.includes(nameFilter);

      if (categoryMatch && nameMatch) {
        katalog__blocks__tovar.style.display = 'block';
      } else {
        katalog__blocks__tovar.style.display = 'none';
      }
    });
  }
</script>
{% endblock %}