{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="about">
        <h1>О нашей компании</h1>
        <p>Компания "Старый часовщик" предлагает уникальные часы, созданные с тщательным вниманием к деталям и
            мастерству. Наши часы отражают красоту и элегантность, сочетая в себе традиционный стиль и инновационные
            технологии. Мы предлагаем широкий выбор часов, от классических до современных дизайнов, чтобы каждый клиент
            мог найти идеальное времяприбытие, отвечающее его уникальному стилю и вкусу. "Старый часовщик" - это не
            просто часы, это произведения искусства, которые будут радовать своих обладателей многие годы.</p>
    </div>
    <div class="news">
        <h1>Новости</h1>
        <p>Коллекция SEIKO Prospex включает множество популярных и востребованных моделей, в то же время в ней есть
            «нишевые» решения, известные довольно узкому кругу истинных поклонников. Именно к таким часам можно отнести
            линейку Landmaster (известную как SBBW005 с кинетическим механизмом AGS), которая вышла в далеком 1993
            году.Несмотря на то, что семейство Landmaster было не так популярно, как некоторые другие коллекции, оно
            продолжало развиваться и завоевало доверие у любителей экстремальных приключений благодаря неопровержимым
            прочностным характеристикам и функциональности.</p>
        <img src="{% static 'img/newss.png'%}" alt="">
    </div>
</div>
{% endblock %}